# Set theme
remote_theme: daviddarnes/alembic@main

# File excludes
exclude:
- README.md
- Gemfile
- Gemfile.lock

# Set plugins
plugins:
- jekyll-sitemap
- jekyll-mentions
- jekyll-paginate
- jekyll-seo-tag
- jekyll-redirect-from
- jekyll-feed
- jekyll-commonmark
- jekyll-include-cache
- jemoji
- jekyll-remote-theme




# Site settings
url: 'https://mydomain.com'
baseurl: ''
title: 'CoViT'
description: 'This is my new website'
permalink: pretty
logo: "https://github.com/lyonking1313/CoViT/blob/gh-pages/images/CoViT.png?raw=true"

# Pagination
paginate: 5
paginate_path: blog/page:num

# Header nav
navigation_header:
- title: Home
  url: /
- title: Delta (B.1.617.2) 
  url: /delta
- title: Alpha (B.1.1.7)
  url: /alpha
- title: Gamma (P.1)
  url: /gamma
- title: Methods
  url: /methods

# Footer nav
navigation_footer:
- title: Back to top
  url: "#top"

# Collections
collections:
  posts:
    title: Posts
    output: true
    description: "My thoughts and ideas"
    feature_text: |
      Welcome to my blog
    feature_image: "https://github.com/lyonking1313/CoViT/blob/gh-pages/images/covid.jpg?raw=true" 

# Collection settings
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: post # Set the default layout for posts
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: page # Set the default layout for pages
